@import "tailwindcss";

@font-face {
  font-family: 'Libertinus Math';
  src: url('/fonts/LibertinusMath.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.font-libertinus {
  font-family: 'Libertinus Math', serif;
}
